@use '../abstracts' as *;

.checkout {
	background: var(--white);
	padding: 2.4rem;
	border-radius: 0.8rem;
	width: 100%;
	margin-bottom: 3.2rem;
	@include breakpoint(medium) {
		width: 80%;
		margin-bottom: 0;
		padding: 5.4rem 4.8rem;
	}

	&__grey {
		background: var(--light-grey);
	}

	&__form {
		margin-top: 4.1rem;
	}

	&__flex {
		display: flex;
		flex-direction: column;
		margin-bottom: 11.6rem;
		@include breakpoint(medium) {
			margin-bottom: 14.1rem;
			gap: 3rem;
			flex-direction: row;
		}
	}
}

.field {
	&__billing {
		margin-top: 1.6rem;
		margin-bottom: 5.3rem;
		&-items {
			display: flex;
			gap: 1.6rem;
			margin-bottom: 2.4rem;
		}
	}

	&__headers {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__input {
		border-radius: 0.8rem;
		border: 1px solid var(--light-grey);
		padding: 1.8rem 2.4rem;
		width: 100%;
		@include breakpoint(medium) {
			width: 30.9rem;
		}
		margin-top: 0.9rem;
		&:hover,
		&:focus {
			border: 0.1rem solid var(--orange);
		}
	}

	&__shipping {
		&-inner {
			display: flex;
			justify-content: space-between;
			gap: 1.6rem;
			margin-top: 2.4rem;
		}
		&-country {
			margin-top: 2.4rem;
		}
	}

	&--error {
		border: 0.1rem solid red;
	}

	&__payments {
		margin-top: 2.4rem;
		width: 100%;
		&-number {
			display: flex;
			gap: 1.6rem;
		}
		&-method {
			display: flex;
			margin-bottom: 2.4rem;
			flex-direction: column;
			gap: 1.7rem;
			@include breakpoint(medium) {
				flex-direction: row;
				gap: 0;
			}
		}
	}

	&__radios {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		gap: 1.6rem;
		@include breakpoint(medium) {
			margin-left: auto;
			margin-right: 0;
		}
		&-items {
			border: 1px solid var(--light-grey);
			padding: 2.1rem 2.3rem;
			border-radius: 0.8rem;
			width: 100%;
			@include breakpoint(medium) {
				width: 30.9rem;
			}
		}
		&-text {
			font-weight: var(--font-bold);
			font-size: 1.4rem;
			line-height: 1.9rem;
			letter-spacing: -0.25px;
			color: var(--black);
			margin-left: 1.6rem;
		}
	}

	&__inputs {
		display: flex;
		flex-direction: column;
	}
	&--label {
		font-weight: var(--font-bold);
		font-size: 1.2rem;
		line-height: 1.6rem;
		letter-spacing: -0.214286px;
		color: var(--black);
	}

	&--cash {
		font-weight: var(--font-semi-bold);
		font-size: 1.5rem;
		line-height: 2.5rem;
		color: var(--black);
		opacity: 0.5;
	}

	&__button {
		margin-top: 4rem;
	}
}

.field__input.field__shipping-address {
	width: 100%;
}

.field__radios .field__inputs {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.field__radios > * {
	cursor: pointer;
	&:hover,
	&:focus {
		border: 0.1rem solid var(--orange);
	}
}

.summary {
	background: var(--white);
	padding: 3.2rem;
	border-radius: 0.8rem;
	width: 100%;
	height: 100%;
	@include breakpoint(medium) {
		width: 40%;
		height: 61.2rem;
	}

	&__products {
		margin-top: 3.1rem;
		margin-bottom: 3.1rem;
	}

	&__texts {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}
	&__text {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__grand-total {
		margin-top: 2.4rem;
		margin-bottom: 3.2rem;
	}
	&--orange {
		color: var(--orange);
	}
}

.error {
	color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.radio-hidden {
	display: none;
}
