@use '../abstracts' as *;

.details {
	padding-top: 7.9rem;
	padding-bottom: 5.6rem;
	&--back {
		font-weight: var(--font-semi-bold);
		font-size: 1.5rem;
		line-height: 2.5rem;
		color: var(--black);
		opacity: 0.5;
		padding-bottom: 5.6rem;
	}

	&__image {
		border-radius: 0.8rem;
		&-desktop {
			display: block;
			@include breakpoint(medium) {
				display: block;
			}
		}
		&-tablet {
			display: none;
			// @include breakpoint(medium) {
			// 	display: block;
			// }
		}
		&-mobile {
			display: block;
			@include breakpoint(small) {
				display: none;
			}
		}
	}

	&__flex {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 3.2rem;
		@include breakpoint(medium) {
			flex-direction: row;
			gap: 12.4rem;
		}
	}
	&__content {
		@include breakpoint(medium) {
			width: 44.5rem;
		}
	}

	&--name {
		margin-top: 1.7rem;
		text-align: left;
	}

	&--description {
		font-weight: var(--font-semi-bold);
		font-size: 1.5rem;
		line-height: 2.5rem;
		padding: 3.2rem 0;
		opacity: 0.5;
		color: var(--black);
	}

	&--price {
		font-weight: var(--font-bold);
	}

	&__cart {
		display: flex;
		padding-top: 4.7rem;
		gap: 1.6rem;
		align-items: center;
	}

	&__increment,
	&__decrement {
		cursor: pointer;
		transition: var(--transition-03);
		&:hover,
		&:focus {
			color: var(--orange);
		}
	}

	&__increment,
	&__decrement,
	&__number {
		background: #f1f1f1;
		padding: 1.55rem;
	}

	// Images
	&__images {
		margin-bottom: 13rem;
		display: grid;
		grid-gap: 3rem;
		place-items: center;
		grid-template-columns: 1fr;
		@include breakpoint(medium) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			&-1 {
				grid-column: 1;
				grid-row-end: 1/ 2;
			}
			&-2 {
				grid-column: 1;
				grid-row: 2 / 3;
			}
			&-3 {
				grid-column: 2;
				grid-row: 1 / 3;
			}
		}
	}
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	gap: 12rem;
	@include breakpoint(large) {
		margin-top: 16rem;
		margin-bottom: 16rem;
	}
	@include breakpoint(medium) {
		margin-top: 12rem;
		margin-bottom: 12rem;
		flex-direction: row;
		gap: 12.5rem;
	}
	@include breakpoint(small) {
		margin-top: 8.8rem;
		margin-bottom: 8.8rem;
	}

	&--title {
		padding-bottom: 3.2rem;
		text-align: left;
	}

	&--desc {
		font-weight: var(--font-semi-bold);
		font-size: 1.5rem;
		line-height: 2.5rem;
		color: var(--black);
		opacity: 0.5;
	}

	&__content {
		@include breakpoint(medium) {
			width: 53.5rem;
		}
	}

	&__list {
		&-inner {
			display: flex;
			align-items: center;
			gap: 2.1rem;
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		@include breakpoint(medium) {
			flex-direction: row;
			gap: 17rem;
		}
	}

	&--quantity {
		font-weight: var(--font-bold);
		font-size: 1.5rem;
		line-height: 2.5rem;
		color: var(--orange);
	}

	&--item {
		font-weight: var(--font-semi-bold);
		font-size: 1.5rem;
		line-height: 2.5rem;
		color: #000000;
		opacity: 0.5;
	}
}

.others {
	&--title {
		padding-bottom: 6.4rem;
		text-align: center;
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 5.6rem;
		@include breakpoint(medium) {
			flex-direction: row;
			gap: 1.1rem;
		}
	}
	&__items {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem;
		max-width: 22.3rem;
	}
	&__images-desktop {
		display: none;
		@include breakpoint(medium) {
			display: block;
		}
	}
	&__images-mobile {
		display: block;
		@include breakpoint(medium) {
			display: none;
		}
	}
}
