@use '../abstracts' as *;

.hero {
	background-color: var(--black);
	width: 100%;
	height: 84.4rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 999;
	margin-top: -11.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	@include breakpoint(small) {
		background-image: url('../../public/assets/home/mobile/image-header.jpg');
	}
	@include breakpoint(medium) {
		background-image: url('../../public/assets/home/tablet/image-header.jpg');
	}
	@include breakpoint(large) {
		background-image: url('../../public/assets/home/desktop/image-hero.jpg');
	}

	&__inner {
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		@include container;
		@include breakpoint(large) {
			justify-content: flex-start;
			text-align: left;
		}
	}

	// Text
	&__content {
		width: 39.8rem;
	}

	&--subhead {
		font-weight: var(--font-normal);
		font-size: 1.4rem;
		line-height: 1.9rem;
		letter-spacing: 1rem;
		text-transform: uppercase;
		color: var(--white);
		opacity: 0.5;
	}

	&--title {
		margin-bottom: 0rem;
	}

	&--text {
		font-weight: var(--font-semi-bold);
		font-size: 1.5rem;
		line-height: 2.5rem;
		color: var(--white);
		opacity: 0.75;
		padding: 2.4rem 0;
		@include breakpoint(medium) {
			padding-top: 2.4rem;
			padding-bottom: 4rem;
			width: 34.9rem;
		}
	}
}

// Select product
.select {
	@include container;
	padding-top: 9.6rem;
	padding-bottom: 9.6rem;
	@include breakpoint(large) {
		padding-bottom: 20rem;
	}
	&__speaker {
		background: var(--orange);
		background-image: url('../../public/assets/home/desktop/pattern-circles.svg');
		background-position: 50% -10%;
		background-repeat: no-repeat;
		background-size: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		border-radius: var(--border-radius-08);
		overflow: hidden;
		@include breakpoint(small) {
			padding-right: 2.4rem;
			padding-left: 2.4rem;
			height: 60rem;
		}
		@include breakpoint(medium) {
			height: 56rem;
			gap: 13.9rem;
			flex-direction: row;
			align-items: flex-end;
			padding-right: 9.5rem;
			padding-left: 11rem;
			background-size: 70%;
			background-position: -10% 70%;
		}

		&-desktop {
			display: none;
			@include breakpoint(medium) {
				display: block;
				margin-bottom: -2rem;
			}
		}
		&-tablet {
			display: block;
			@include breakpoint(medium) {
				display: none;
			}
		}

		&-header {
			color: var(--white);
			margin: auto;
			width: 26.1rem;
			padding-top: 3.2rem;
			@include breakpoint(medium) {
				padding-top: 0;
				margin: none;
			}
		}

		&-text {
			color: var(--white);
			padding-top: 2.4rem;
			padding-bottom: 2.4rem;
			@include breakpoint(medium) {
				padding-bottom: 4rem;
			}
		}

		&-content {
			@include breakpoint(medium) {
				width: 34.9rem;
				padding-bottom: 12.4rem;
			}
		}
	}

	&__button {
		padding-top: 3.2rem;
	}

	// Speakers
	&__speakers {
		margin-top: 4.8rem;
		margin-bottom: 4.8rem;
		background-image: url('../../public/assets/home/desktop/image-speaker-zx7.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: var(--border-radius-08);
		padding: 10rem 9.5rem;
		min-height: 32rem;
		height: 32rem;
		@include breakpoint(small) {
			padding-left: 2.4rem;
			padding-top: 10rem;
			background-size: cover;
			background-image: url('../../public/assets/home/mobile/image-speaker-zx7.jpg');
		}
	}

	// Earphones
	&__earphones {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 3rem;
		width: 100%;
		height: 32rem;

		@include breakpoint(medium) {
			grid-template-columns: repeat(2, 1fr);
		}

		&-bg {
			background-image: url('../../public/assets/home/desktop/image-earphones-yx1.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			border-radius: var(--border-radius-08);
			@include breakpoint(small) {
				height: 20rem;
				background-size: 100%;
			}
			@include breakpoint(medium) {
				height: 100%;
				background-size: cover;
			}
		}

		&-content {
			background: #f1f1f1;
			padding: 10rem 9.5rem;
			border-radius: var(--border-radius-08);
			@include breakpoint(small) {
				padding: 4.1rem 2.4rem;
			}
		}
	}
}

// Gear
.gear {
	@include container;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 9.6rem;
	@include breakpoint(small) {
		padding-bottom: 12rem;
		flex-direction: column-reverse;
		gap: 4rem;
	}
	@include breakpoint(large) {
		flex-direction: row;
		gap: 12.5rem;
	}
	padding-bottom: 20rem;
	&__content {
		@include breakpoint(small) {
			width: 100%;
			text-align: center;
		}
		@include breakpoint(large) {
			width: 44.5rem;
			text-align: left;
		}
	}

	&--span {
		color: var(--orange);
	}

	&--text {
		font-weight: var(--font-semi-bold);
		opacity: 0.5;
		padding-top: 3.2rem;
	}

	// Images
	&__image-desktop {
		display: none;
		@include breakpoint(large) {
			display: block;
		}
	}
	&__image-tablet {
		display: none;
		@include breakpoint(medium) {
			display: block;
		}
		@include breakpoint(large) {
			display: none;
		}
	}
	&__image-mobile {
		@include breakpoint(small) {
			display: block;
		}
		@include breakpoint(medium) {
			display: none;
		}
	}
}
