@use '../abstracts' as *;

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--black);
	height: 9.6rem;

	&__links {
		display: flex;
		align-items: center;
		&-items {
			color: var(--white);
		}
	}
}
