@use '../abstracts' as *;

.cart {
	&__header,
	&__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__remove-all {
		cursor: pointer;
		font-weight: var(--font-semi-bold);
		font-size: 1.5rem;
		line-height: 2.5rem;
		text-decoration-line: underline;
		color: var(--back);
		opacity: 0.5;
	}

	&__card {
		background: var(--white);
		height: 48.8rem;
		width: 37.7rem;
		position: absolute;
		right: 16.5rem;
		border-radius: 0.8rem;
		padding: 3.1rem;
		z-index: 1000;
	}

	&__empty {
		text-align: center;
		margin-top: 4rem;
		margin-bottom: 4rem;
	}

	&__products {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__product {
		display: flex;
		align-items: center;
		width: 100%;
		&-details {
			display: flex;
			flex-direction: column;
		}
	}

	&__images {
		margin-right: 1.6rem;
	}

	&__image {
		border-radius: 0.8rem;
	}
	&--name {
		font-weight: var(--font-bold);
		font-size: 1.5rem;
		line-height: 2.5rem;
		color: var(--black);
	}
	&--price {
		font-weight: var(--font-bold);
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: var(--black);
		opacity: 0.5;
	}

	&__toggle {
		margin-left: auto;
	}

	&__add {
		background: var(--light-grey);
		width: 9.6rem;
		height: 3.2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__increment,
	&__decrement {
		cursor: pointer;
		transition: var(--transition-03);
		&:hover,
		&:focus {
			color: var(--orange);
		}
	}

	&__increment,
	&__decrement,
	&__number {
		background: var(--light-grey);
		padding: 1.3rem;
	}

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 1000;
	}

	&__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 3.2rem;
		margin-bottom: 2.4rem;
		&--text {
			font-weight: var(--font-semi-bold);
			font-size: 1.5rem;
			line-height: 2.5rem;
			color: var(--black);
			opacity: 0.5;
			text-transform: uppercase;
		}
		&--price {
			font-weight: var(--font-bold);
			font-size: 1.8rem;
			line-height: 2.5rem;
			text-align: center;
			text-transform: uppercase;
			color: #000000;
		}
	}
}
