@use '../abstracts' as *;

.headers {
	background: var(--black);
	@include breakpoint(small) {
		padding: 3.2rem 0;
	}
	@include breakpoint(medium) {
		padding: 9.8rem 0;
	}

	&--title {
		color: var(--white);
		text-align: center;
	}
}
