@use '../abstracts' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-bold);
	color: var(--black);
	text-transform: uppercase;
}

h1 {
	font-size: 3.6rem;
	line-height: 4rem;
	letter-spacing: 1.28571px;
	color: var(--white);
	@include breakpoint(medium) {
		font-size: 5.6rem;
		line-height: 5.8rem;
		letter-spacing: 2px;
	}
}

h2 {
	font-size: 2.8rem;
	line-height: 3.8rem;
	text-align: center;
	letter-spacing: 1px;
	@include breakpoint(medium) {
		font-size: 4rem;
		line-height: 4.4rem;
		letter-spacing: 1.42857px;
	}
}

h3 {
	font-size: 3.2rem;
	line-height: 3.6rem;
	letter-spacing: 1.14286px;
}

h4 {
	font-size: 2.8rem;
	line-height: 3.8rem;
	letter-spacing: 2px;
}

h5 {
	font-size: 2.4rem;
	line-height: 3.3rem;
	letter-spacing: 1.71429px;
}

h6 {
	font-size: 1.8rem;
	line-height: 2.5rem;
	letter-spacing: 1.28571px;
}

.overline {
	font-weight: var(--font-normal);
	font-size: 1.4rem;
	line-height: 1.9rem;
	letter-spacing: 1rem;
	text-transform: uppercase;
	color: var(--orange);
}

.sub-title {
	font-weight: var(--font-bold);
	font-size: 1.3rem;
	line-height: 2.5rem;
	letter-spacing: 0.928571px;
	text-transform: uppercase;
	color: var(--orange);
}
